@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  /* border: 1px dotted greenyellow; */
}

html{
  background-color: #F9FAFB;
  color: #101828;
}

body {
  margin: 0;
  /* padding: 0; */
}

.light {
  background-color: #ffffff;

}

.dark {
  background-color: #1a1a1ab7;
  color: #ffffff
}

.btn {
  padding: 12px 16px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.btn.green {
  background-color: #34A853;
  color: #ffffff;
}

.btn.green:hover {
  background-color: #2B8A3E;
}

.btn.white {
  background-color: #ffffff;
  color: #34A853;
  border: 1px solid #9fd6ae;
}

.btn.white:hover {
  background-color: #577d61;
  color: #000000;
}

.btn.google {
  background-color: #ffffff;
  color: #34A853;
  border: 1px solid #838b85;
}

.btn.google:hover {
  background-color: #6a9c77;
  color: #ffffff;
}

.btn.grey{
  background-color: #F2F4F7;
  color: #6a9c77;
  border: 1px solid #c6cbd4;
}

.btn.grey:hover{
  background-color: #d0d5dd;
  color: #ffffff;
}

.warning{
  text-align: center;
  background-color: #FEF0C7;
  border: 1px solid #FEF0C7;
  position: sticky;
  top: 92px;
  width: 100%;
  z-index: 1;
}

.hidden{
  display: none;
}

.btn.cancel:hover{
  background-color: red;
  color: #fff;
  border: 1px solid red;
}

.avatar.profile-pic{
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

button.disabled{
  cursor: not-allowed;
}

.like-btn, .comment-btn{
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 4px;
}