html {
  min-width: 320px;
}

// General styles
button.icon {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.table-container {
  border: 2px solid #ddd;
  border-radius: 4px;
  overflow: auto;

  table {
    min-width: 700px;
    font-size: .8rem;

    thead {
      background-color: #ddd;
    }

    tr {
      >* {
        padding: 10px;
      }

      +tr {
        border-top: 1px solid #ddd;
      }
    }
  }
}

#homepage {
  background-image: linear-gradient(#f3eadb, #c18054);

  img {
    border-radius: 8px;
  }
}

.get-started {
  & .form-container {
    max-width: 500px;
    margin: 0 auto;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgb(211, 211, 211);

    & form {
      padding: 20px;
    }
  }
}

.d-flex {
  &.gap-1 {
    gap: 1rem;
  }

  &.gap-2 {
    gap: 2rem;
  }

  &.gap-3 {
    gap: 3rem;
  }

  &.gap-4 {
    gap: 4rem;
  }

  &.gap-5 {
    gap: 5rem;
  }
}

.bg-facebook {
  background-color: #3b5998;
}

#app-layout {
  .app-header {
    box-shadow: 0 0 5px #ccc;
    position: sticky;
    top: 0;
    z-index: 1;

    >ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      padding: 10px;
      border-bottom: 1px solid #ccc;

      >li {
        &:first-child {
          flex: 1;
        }

        &:nth-child(2) {
          flex: 2;
          text-align: center;
        }

        &:nth-child(3) {
          flex: 1;
          text-align: right;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 6px;
        }
      }
    }
  }

  .app-body {
    #dashboard {
      .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        gap: 1rem;
        max-width: 700px;
        position: relative;

        >div {
          min-width: 200px;
          padding: 20px;
          border-radius: 10px;
          flex: 1 1 0;
          position: relative;

          h2 {
            font-size: 16px;
          }

          p,
          ul {
            font-size: 12px;
          }

          .wallet-icon {
            text-align: center;
            font-size: 30px;
          }
        }
      }

      .disclaimer {
        border-radius: 8px;
      }
    }
  }
}

#recharge,
#settings {
  div {
    max-width: 500px;
  }

  .details {
    >div {
      padding: 10px;
      border-radius: 6px;
      border-left: 8px solid #198754;
    }

    p {
      margin: 0;
      color: #198754;
      border-bottom: 1px solid #198754;
    }
  }
}

#user-profile>div{
  padding: 5px;
  border-radius: 4px;
  border-left: 8px solid #198754;

  p {
    color: #198754;
    border-bottom: 3px dotted;
  }
}

.hidden {
  display: none;
}

#loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  & img {
    height: 5em;
    margin-top: 60px;
  }
}

#error-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2.5em;
  padding: 30px;
  margin: 0;
  padding: 0;
  height: 100vh;

  & a {
    font-size: 0.8em;
  }
}