.Space_Categories{
  /* border: 1px solid red; */
  display: flex;
  height: 40px;
  min-width: 259px;
  border-radius: 6px;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.Space_Categories:active {
  background-color: rgb(174, 174, 174);
}

.Space_Categories img{
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.Space_Categories h4{
  margin-left: 10px;
}

.Categories *{
  /* border: 1px solid red; */
  margin: 0;
}

.Categories{
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #FFFFFF;
  border: 1px solid #D0D5DD;
  min-width: 259px;
  padding: 16px;
  border-radius: 6px;
  position: sticky;
  top: 100px;
  margin-left: 100px;
}

.Categories p{
  font-size: 14px;
  line-height: 20px;
  color: #98A2B3;
}

.Categories ul{
  padding-left: 0;
  list-style-type: none;
}

.Categories li {
  margin-bottom: 16px;
}


