<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <span>&#9096;</span>
  <h1>
    <%= title %>
  </h1>
  <hr>
  <p>Server is active</p>
</body>

</html>